<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pijiuji.mapper.GuanliMapper">
    <select id="findSystemcode" parameterType="java.lang.String" resultType="java.lang.String">
      select level_user_id AS 'leverUserId' FROM level_user  WHERE level_user_id = #{levelUserOpenid}
    </select>
    <select id="findOrderById" parameterType="java.util.HashMap" resultType="java.util.Map">
        select p.product_id as 'productId',p.product_name as 'productName',o.order_id as 'orderId',o.order_size as 'size',o.order_money as 'money',o.order_num as 'num',o.order_chu_num as 'chuNum',o.order_point as 'point',o.order_transaction_id as 'sss' from `order` o inner join product p on o.order_product_id = p.product_id WHERE order_employee_id = #{employeeId} AND order_is_chujiu = #{orderIsChujiu}
    </select>
    <update id="updateOrder" parameterType="com.pijiuji.bean.Order">
        update `order` set order_num = #{orderNum}  where order_id  = #{orderId};
    </update>
    <select id="findSurplus" parameterType="java.lang.String" resultType="java.util.HashMap">
    select pjj_jiu_one_num AS 'pjjOneNum',pjj_jiu_two_num AS 'pjjTwoNum',pjj_qi_num AS 'pjjQiNum'from pjj WHERE pjj_id = #{pjjId}
  </select>
</mapper>