<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pijiuji.mapper.LevelFcMapper" >
  <resultMap id="BaseResultMap" type="com.pijiuji.bean.LevelFc" >
    <id column="fc_id" property="fcId" jdbcType="INTEGER" />
    <result column="fc_level_id" property="fcLevelId" jdbcType="VARCHAR" />
    <result column="fc_level_name" property="fcLevelName" jdbcType="VARCHAR" />
    <result column="fc_bili" property="fcBili" jdbcType="VARCHAR" />
    <result column="fc_time" property="fcTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fc_id, fc_level_id, fc_level_name, fc_bili, fc_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pijiuji.bean.LevelFcExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from level_fc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from level_fc
    where fc_id = #{fcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from level_fc
    where fc_id = #{fcId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pijiuji.bean.LevelFcExample" >
    delete from level_fc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pijiuji.bean.LevelFc" >
    insert into level_fc (fc_id, fc_level_id, fc_level_name, 
      fc_bili, fc_time)
    values (#{fcId,jdbcType=INTEGER}, #{fcLevelId,jdbcType=VARCHAR}, #{fcLevelName,jdbcType=VARCHAR}, 
      #{fcBili,jdbcType=VARCHAR}, #{fcTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pijiuji.bean.LevelFc" >
    insert into level_fc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fcId != null" >
        fc_id,
      </if>
      <if test="fcLevelId != null" >
        fc_level_id,
      </if>
      <if test="fcLevelName != null" >
        fc_level_name,
      </if>
      <if test="fcBili != null" >
        fc_bili,
      </if>
      <if test="fcTime != null" >
        fc_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fcId != null" >
        #{fcId,jdbcType=INTEGER},
      </if>
      <if test="fcLevelId != null" >
        #{fcLevelId,jdbcType=VARCHAR},
      </if>
      <if test="fcLevelName != null" >
        #{fcLevelName,jdbcType=VARCHAR},
      </if>
      <if test="fcBili != null" >
        #{fcBili,jdbcType=VARCHAR},
      </if>
      <if test="fcTime != null" >
        #{fcTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pijiuji.bean.LevelFcExample" resultType="java.lang.Integer" >
    select count(*) from level_fc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update level_fc
    <set >
      <if test="record.fcId != null" >
        fc_id = #{record.fcId,jdbcType=INTEGER},
      </if>
      <if test="record.fcLevelId != null" >
        fc_level_id = #{record.fcLevelId,jdbcType=VARCHAR},
      </if>
      <if test="record.fcLevelName != null" >
        fc_level_name = #{record.fcLevelName,jdbcType=VARCHAR},
      </if>
      <if test="record.fcBili != null" >
        fc_bili = #{record.fcBili,jdbcType=VARCHAR},
      </if>
      <if test="record.fcTime != null" >
        fc_time = #{record.fcTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update level_fc
    set fc_id = #{record.fcId,jdbcType=INTEGER},
      fc_level_id = #{record.fcLevelId,jdbcType=VARCHAR},
      fc_level_name = #{record.fcLevelName,jdbcType=VARCHAR},
      fc_bili = #{record.fcBili,jdbcType=VARCHAR},
      fc_time = #{record.fcTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pijiuji.bean.LevelFc" >
    update level_fc
    <set >
      <if test="fcLevelId != null" >
        fc_level_id = #{fcLevelId,jdbcType=VARCHAR},
      </if>
      <if test="fcLevelName != null" >
        fc_level_name = #{fcLevelName,jdbcType=VARCHAR},
      </if>
      <if test="fcBili != null" >
        fc_bili = #{fcBili,jdbcType=VARCHAR},
      </if>
      <if test="fcTime != null" >
        fc_time = #{fcTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where fc_id = #{fcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pijiuji.bean.LevelFc" >
    update level_fc
    set fc_level_id = #{fcLevelId,jdbcType=VARCHAR},
      fc_level_name = #{fcLevelName,jdbcType=VARCHAR},
      fc_bili = #{fcBili,jdbcType=VARCHAR},
      fc_time = #{fcTime,jdbcType=TIMESTAMP}
    where fc_id = #{fcId,jdbcType=INTEGER}
  </update>

  <select id="selectByLevelId" parameterType="java.lang.String" resultType="com.pijiuji.bean.LevelFc">
    select * from level_fc where fc_level_id = #{fcLevelId}
  </select>

</mapper>